{% extends 'layout.html.twig' %}
{% block title %}
    {{ parent() }} - Products
{% endblock %}
{% block content %}
        {{ parent() }}
       <ul>
    {% for product in products %}
        <li>{{ product }}</li>
    {% endfor %}
</ul>
{{ dump(products) }}
{% endblock %}